[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Andrii Kroshchenko (akroshchenko)
[access "refs/for/refs/*"]
	read = group user/Andrii Kroshchenko (akroshchenko)
	push = group user/Andrii Kroshchenko (akroshchenko)
	label-Code-Review = -2..+2 group user/Andrii Kroshchenko (akroshchenko)
	label-Verified = -1..+1 group user/Andrii Kroshchenko (akroshchenko)
	rebase = group user/Andrii Kroshchenko (akroshchenko)
	removeReviewer = group user/Andrii Kroshchenko (akroshchenko)
	submit = group user/Andrii Kroshchenko (akroshchenko)
[access "refs/heads/*"]
	read = group user/Andrii Kroshchenko (akroshchenko)
	create = group user/Andrii Kroshchenko (akroshchenko)
	push = +force group user/Andrii Kroshchenko (akroshchenko)
	pushMerge = group user/Andrii Kroshchenko (akroshchenko)
[access "refs/tags/*"]
	push = group user/Andrii Kroshchenko (akroshchenko)
	push = +force group user/Andrii Kroshchenko (akroshchenko)
