[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/akroshchenko
[access "refs/for/refs/*"]
	read = group user/akroshchenko
	push = group user/akroshchenko
	label-Code-Review = -2..+2 group user/akroshchenko
	label-Verified = -1..+1 group user/akroshchenko
	rebase = group user/akroshchenko
	removeReviewer = group user/akroshchenko
	submit = group user/akroshchenko
[access "refs/heads/*"]
	read = group user/akroshchenko
	create = group user/akroshchenko
	push = +force group user/akroshchenko
	pushMerge = group user/akroshchenko
[access "refs/tags/*"]
	push = group user/akroshchenko
	push = +force group user/akroshchenko
